.map-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.904);

}
.map-wrapper h1 {
  color: white;
  margin-top: 0rem;
  padding-top: 3rem;
  margin-bottom: 4rem;
  text-align: center;
}
.mapDiv {
  width: 90vw;
  margin-left: 5vw;
  height: 60vh;
  border: 2.5px solid white;
  border-radius: .25rem;
}
